/dist/
/build/
/test.xml
/testIP.xml
/testTime.xml
/testUUID.xml
/testInOut.xml
/systemLog.xml.lck
/systemLog.xml
!/src/cz/tul/comm/tester/virtual/
/src/cz/tul/comm/tester/Misc.java
# system logs
systemLog.xml*