/dist/
/build/
/.jacocoverage/
/test.xml
/testIP.xml
/testTime.xml
/testUUID.xml
/testInOut.xml
/systemLog.xml.lck
/systemLog.xml
/src/cz/tul/comm/tester/
/src/cz/tul/comm/tester/virtual
# system logs
systemLog.xml*
jacocoexec*